<div class="card">
  <div class="card-header">
    <h2>Sign up</h2>
  </div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"Email", required: true,class:"form-control" %>
  </div>

   <div class="field form-group">
    <%= f.text_field :full_name, autofocus: true, autocomplete: "full_name",placeholder:"Full Name",required: true,class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= f.text_field :username, autofocus: true, autocomplete: "username",placeholder:"Username",required: true,class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :user_type %><br />
    <%= f.label :user_type, "Private", value: 1  %>
    <%= f.radio_button :user_type, :private, checked: true %>
    <%= f.label :user_type, "Public", value: 2 %>
    <%= f.radio_button :user_type, :public %>
  </div>

  <div class="field form-group">
    <%= f.password_field :password, autocomplete: "new-password",placeholder:"Password(6 characters minimum)",required: true,class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder:"Confirm your Password",required: true,class:"form-control" %>
  </div>
  <div class="field form-group">
    <%= f.file_field :avatar,placeholder:"Display Picture",class:"form-control",accept:'image/*' %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up",class:"btn btn-dark" %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
  </div>
</div>





