<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <%= image_tag 'logo.jpg', :width=>50%>
  <%= link_to 'Instagram', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%if user_signed_in?%>
        <li class="nav-item">
          <%= link_to 'Feed', pathfeed_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Edit Profile', edit_user_registration_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Add Post', new_post_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Requests', requests_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'New Story', new_user_story_path(user_id: current_user.id),class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to 'Signout', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
      <%end%>
    </ul>
    <%if user_signed_in?%>
      <form class="form-inline my-2 my-lg-0" action="/search">
        <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    <%end%>
  </div>
</nav>
