<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <p>
          <% if @post.images.attached?%>
            <% @post.images.each do |image|%>
              <%= image_tag image , width:"500", height:"500"%>
            <%end%>
          <%end%>
        </p>
        <% if @post.caption!=""%>
          <p>
            <strong>Caption:</strong>
            <%= @post.caption %>
          </p>
        <%end%>
        <%= link_to 'Edit', edit_post_comment_path(@post), class:"btn btn-secondary" %>
        <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-danger"%>
        <%= link_to 'Back', posts_path, class:"btn btn-dark" %>
      </div>
      <div class="col">
        <h4>Comments </h4>
        <div class="card">
  <div class="card-body">
 <%= render @post.comments %>
  </div>
</div>
<br>
        <%= render 'comments/form' , locals: {post: @post} %>
      </div>
    </div>
  </div>
</div>
